@import 'global';

.about-project {
    @include centered-flex-component();
    color: $darkblue;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 95vh;
    h1 {
        margin-bottom: $header-spacing;
    }
    p {
        width: 65%;
    }
}

.about-devteam {
    color: $darkblue;
    text-align: center;
    margin-bottom: 20vh;
    .dev-cards {
        margin-top: $header-spacing;
        justify-content: space-evenly;
        .card {
            border: none;
            margin: 0.5rem;
            img {
                height: 16rem;
                object-fit: cover;
            }
        }
    }
}