@import 'global';

$header-spacing: 3rem;


.about-project {
    @include centered-flex-component();
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 95vh;
    h1 {
        margin-bottom: $header-spacing;
    }
    p {
        width: 75%;
    }
}

.about-devteam {
    text-align: center;
    margin-bottom: 30vh;
    .dev-cards {
        margin-top: $header-spacing;
        justify-content: space-around;
        .card {
            color: #fff;
            border: none;
        }
    }
}