// font import
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

// global variables
$font-stack: 'Nunito', sans-serif;
$std-box-shadow: 1px 6px 22px -2px rgba(0,0,0,0.4);
$bottom-box-shadow: 0 10px 22px -10px rgba(0,0,0,0.4);
$y-spacing: 1rem;

// Color theme
$white: #FFF;
$orange: #ff9f2b;
$gray: #e5e5e5;
$darkblue: #3C5D74;
$lightblue: #2477B3;


// mixins
@mixin centered-flex-component() {
    display: flex;
    justify-content: center;
}

// general reset stuff

html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
}

nav {
    box-shadow: $std-box-shadow;
    .nav-item {
        a {
            font-size: 1.25rem;
        }
    }
}

footer {
    background-color: #2477B3;
    color: #fff;
    scroll-snap-align: center;
    .container {
        @include centered-flex-component();
        flex-direction: column;
        align-items: center;
    }
    .footer-main {
        @include centered-flex-component();
        width: 90%;
        flex-direction: row;
        justify-content: space-around;
        margin: $y-spacing;
        .footer-section {
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    cursor: pointer;
                }
            }
        }
    }
}