// font import
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// global variables
$font-stack: 'Nunito', sans-serif;
$std-box-shadow: 1px 6px 22px -2px rgba(0,0,0,0.4);
$y-spacing: 1rem;
$primary-color: red;

// Color theme
$white: #FFF;
$orange: #B26C43;
$gray: #8C8886;
$darkblue: #3C5D74;
$lightblue: #2477B3;


// mixins
@mixin centered-flex-component() {
    display: flex;
    justify-content: center;
}

// general reset stuff
* {
    font-family: $font-stack;
    color: $primary-color;
}

html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}