@import 'global';

$header-spacing: 3rem;

// page styles
body {
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

main {
    
    .main-content {
        @include centered-flex-component();
        text-align: center;
        flex-direction: column;
        align-items: center;
        color: $darkblue;
        font-family: $font-stack;

        .topic {

            transform-origin: left center;
            height: 100vh;
            width: 100%;
            @include centered-flex-component();
            align-items: center;
            scroll-snap-align: center;

            &:nth-child(even) {
                background: $gray;
            }

            .topic-content {
                @include centered-flex-component();
                flex-direction: column;
                align-items: center;

                img {
                    width: 50%;
                    height: 40%;
                    border-radius: 5px;
                }

                p {
                    width: 65%;
                }
            }

            .landing {
                h1 {
                    font-size: 6rem;
                }
            }
        }
    }
}