@import 'global';

$header-spacing: 3rem;

@keyframes jiggle {
    0%  { transform: rotate(0deg);  }
    5% { transform: rotate(3deg);  }
    10% { transform: rotate(-3deg); }
    15% { transform: rotate(0deg);  }
    100% { transform: rotate(0deg); }
}

@keyframes collapse {
    0% { transform: none; }
    100% { transform: scale(0.1); }
}


// page styles

body {
    overflow-x: hidden;
}

main {
    
    .main-content {
        @include centered-flex-component();
        text-align: center;
        flex-direction: column;
        align-items: center;
        color: $darkblue;
        font-family: $font-stack;

        .bgvideo {
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: -1;
            min-width: 100%;
            //width: 100%;
            min-height: 100%;
            //height: auto;

        }

        .topic {
            transform-origin: left center;
            height: 100vh;
            width: 100%;
            @include centered-flex-component();
            align-items: center;


            &:nth-child(odd) {
                background: $gray;
            }

            &:nth-child(even) {
                background: $white;
            }

            &:nth-child(2) {
                background: rgba(255, 255, 255, 0.8);
                //opacity: 0.8;
            }

            .topic-content {
                @include centered-flex-component();
                flex-direction: column;
                align-items: center;

                img {
                    width: 50%;
                    height: auto;
                    border-radius: 5px;
                }

                p {
                    width: 65%;
                }
            }

            .landing {
                transition: all 0.5s ease-in;

                h1 {
                    font-size: 6rem;
                    animation-name: jiggle;
                    animation-duration: 3s;
                    animation-timing-function: ease;
                    animation-iteration-count: infinite;
                    animation-direction: normal;
                }

                .btn {
                    transition: all 0.3s ease-in;

                    &:hover {
                        transform: scale(1.2, 1.2);
                    }
                }
            }

            .landing-collapsed {
                transform: scale(0.1);
            }
        }
    }
}