@import 'global';


// page styles

nav {
    background: $lightblue;
    box-shadow: $std-box-shadow;
    color: $white;

    a {
        color: $white;
    }
}

body {
    background: $gray;
    overflow-x: hidden;
}

main {
    //@include centered-flex-component();
    //height: 100%;
    width: 100%;


    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
        color: $darkblue;
        font-family: $font-stack;

        .section-wrapper {
            margin: -200px -50px;
            transform-origin: left center;
            display: flex;
            justify-content: center;
            padding: 400px 0;
            width: 120%;

            &:nth-child(odd) {
                background: $white;
                transform: rotate(5deg);

                .topic {
                    transform: rotate(-5deg);
                }
            }

            &:nth-child(even) {
                background: $gray;
                transform: rotate(-5deg);

                .topic {
                    transform: rotate(5deg);
                }
            }

            .topic {
                border-radius: 5px;
                //margin-bottom: 120px;
                width: 50%;
                //min-height: 750px;

                img {
                    max-width: 100%;

                    &:first-child {
                        border-radius: 5px;
                        margin-bottom: 10px;
                    }
                }

                h1 {
                    width: 100%;
                    padding: 10px;
                    border-radius: 10px 10px 0 0;
                    font-weight: bold;
                    font-size: 18px;
                }

                p {
                    width: 100%;
                    padding: 10px;
                }

            }
        }
    }
}

footer {
    //@include centered-flex-component();
    background: $lightblue;
    margin: 100px -50px 0 -50px;
    //margin-top: 100px;
    z-index: 2;
    position: relative;
    height: 300px;
    transform: rotate(5deg);
    width: 120%;

    .footer-content {
        color: $white;
        margin-bottom: 20px;
        padding: 10px 0;
        transform: rotate(-5deg);


        li {
            color: $white;
            font-family: "Asap", serif;

        }

    }
}

